header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
h1 {
  font-size: 3.5rem;
  color: var(--dark-blue);
  padding: 5px;
  background-color: white;
  border: 6px solid var(--dark-blue);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(36, 20, 255, 0.25);
}
